<div class="Admin">
  <h1>通信容量一覧</h1>
  <%= link_to '新規作成', new_data_capacity_path %>
  <div class="Admin__content">
    <% @data_capacities.each do |data_capacity| %>
    <div class="AdminCard">
      <div class="AdminCard__top">
        <h2><%= link_to data_capacity.name, edit_data_capacity_path(data_capacity) %></h2>
      </div>
      <div class="AdminCard__content">
        <p>ID：<%= data_capacity.id %></p>
        <p>
          <%= link_to '削除', data_capacity_path(data_capacity), method: :delete, data: { confirm: '関連プランも削除されます。本当に削除しますか？' } %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>