<div>
  <%= @user.name %>
  <%= @user.email %>

  <%= link_to 'ログアウト', logout_path(get_auth_token), method: :delete %>
  <%= link_to '削除', users_destroy_path(get_auth_token), method: :delete, data: { confirm: "本当に削除しますか？"} %>
</div>