<div class="BaseLayout__sidebar">
  <div class="Sidebar">
    <div class="Sidebar__content">
      <%= render partial: "search_form" %>
    </div>
  </div>
</div>
<div class="BaseLayout__article">
  <div class="Article"%>
    <% @plans.each do |plan| %>
      <%= render partial: "plan_card", locals: { plan: plan } %>
    <% end %>
  </div>
</div>