@charset "UTF-8";

.Article {
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  grid-row: 4 / 5;
  grid-column: 2 / 4;
  justify-content: center;
  margin: 15px;
  width: 80%;

  .Article__content {
    height: 200px;
    margin-bottom: 15px;
    padding: 0 0.5% 0.5% 0.5%; 
    width: 100%;
  }
}

@media (max-width: 768px){
  .Article {
    grid-area: main;
    overflow-y: auto;
    margin: 0;
    width: 100%;
  
    .Article__content {
      height: auto;
      padding: 1.5%;
    }
  }
}