@charset "UTF-8";

.ArticleCard {
  align-items: center;
  background-color: #fff;
  border: 1px solid #e6e5e5;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .ArticleCard:visited {
    box-shadow: 0 2px 5px 2px #bfbfbf;
  }

  .ArticleCard__top {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height: 20%;
    justify-content: center;
    padding: 20px;
  }

  .ArticleCard__box {
    align-items: center;
    border-bottom: 1px solid #e6e5e5;
    border-top: 1px solid #e6e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
    width: 25%;
  }

  .ArticleCard__box:nth-of-type(odd) {
    background-color: #e6e5e5;
  }

  .ArticleCard__name {
    font-size: 0.9rem;
  }

  .ArticleCard__title {
    font-size: 0.8rem;
  }

  .ArticleCard__content {
    align-content: center;
    color: #676767;
    display: flex;
    font-size: 0.9rem;
    height: 70%;
    justify-content: center;
    width: 100%;
  }

  .ArticleCard__text {
    color: #676767;
    font-size: 0.8rem;
  }

  .ArticleCard__footer {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    height: 10%;
    justify-content: space-around;
    padding-bottom: 25px;
    padding-top: 20px;
  }

}

@media (max-width: 768px) {

  .ArticleCard {
    padding: 2px 0 2px 0;
  
    .ArticleCard__content {
      color: #676767;
      flex-direction: column;
      font-size: 0.9rem;
      height: 70%;
      width: 90%;
    }

    .ArticleCard__box {
      padding: 10px 0;
      width: 100%;
    }

    .ArticleCard__name {
      font-size: 1.1rem;
    }

    .ArticleCard__title {
      font-size: 0.7rem;
      font-weight: bold;
    }

    .ArticleCard__text {
      font-size: 0.8rem;
    }
  
  }

}