@charset "UTF-8";

.GlobalNavi {
  align-items: center;
  background-color: #6bccff;
  display: flex;
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin: 0;

  .GlobalNavi__menu {
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 10%;
  }

  .GlobalNavi__menu a:visited {
    color: #fff;
  }
  
}

@media (max-width: 1024px){
  .GlobalNavi {
    justify-content: normal;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    .GlobalNavi__menu {
      border: solid 1px #e6e5e5;
      border-radius: 20px;
      display: inline-block;
      font-size: 0.8rem;
      margin: 0 3px;
      padding: 3px 10px;
      text-decoration: none;
      width: 90%;
    }

  }
  
}

@media (max-width: 400px){
    
  .BaseLayout__globalnavi {
    box-shadow: 0 5px 4px 0 #ccc;
    grid-area: navi;
    overflow-x: auto;
  }

}