@charset "UTF-8";

.Header {
  background-color: #fff;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  display: flex;
  align-items: center;
  justify-content: center;

  .Header__title {
  }

}

@media (max-width: 768px){

  .BaseLayout__header {
    grid-area: head;
  }

}