@charset "UTF-8";

.PlanDetailSidebar {
  border: 1px solid #e6e5e5;
  border-radius: 15px;;
  display: inline;
  height: 72%;
  margin: 15px;
  padding: 15px;
  width: 270px;

  .PlanDetailSidebar__dispswitch {
    display: none;
  }

  input#label1 {
    display: none;
  }

}

@media (max-width: 768px){
  .PlanDetailSidebar {
    align-items: center;
    border: none;
    // display: grid;
    display: none; // スマホ非表示
    height: auto;
    justify-content: center;
    margin: 0;
    width: 100%;

    label.PlanDetailSidebar__dispswitch,
    label.PlanDetailSidebar__dispswitch--standard {
      border-radius: 17px;
      border: 1px solid #e6e5e5;
      display: block;
      font-size: 0.8rem;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
    }

    input:checked ~ label.PlanDetailSidebar__dispswitch,
    label.PlanDetailSidebar__dispswitch--standard {
      border-radius: 17px;
      border: 1px solid #e6e5e5;
      padding: 10px;
      text-align: center;
    }

    label.PlanDetailSidebar__dispswitch:before {
      content: '検索条件を設定する';
    }

    input:checked ~ label.PlanDetailSidebar__dispswitch:before {
      content: '検索条件を閉じる';
    }

    label.PlanDetailSidebar__dispswitch--standard:before {
      content: '開く';
    }

    input:checked ~ label.PlanDetailSidebar__dispswitch--standard:before {
      content: '閉じる';
    }

    .Sidebar__content {
      display: none;
    }

    input:checked ~ .PlanDetailSidebar__content {
      border: 1px solid #e6e5e5;
      border-radius: 15px;;
      display: inline;
      margin-top: 10px;
      padding: 15px;
    }
  
  }
}