@charset "UTF-8";

.PlanDetailTopic {
  align-items: center;
  background-color: #6BCCFF;
  border-bottom: 15px solid #fff;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  width: 100%;

  .PlanDetailTopic__content {
    font-size: 1.5rem;
    font-weight: bold;
  }
}