@charset "UTF-8";

.SearchForm {
  align-items: center;
  background-color: #fff;
  height: 100%;
  width: 100%;

  .SearchForm__title {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eaeaea;
    color: #676767;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1%;
    text-align: center;
    width: 100%;
  }

}