@charset "UTF-8";

.SearchForm {
  align-items: center;
  background-color: #fff;
  height: 100%;
  width: 100%;

  .SearchForm__title {
    border-bottom: 1px solid #e6e5e5;
    color: #676767;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1%;
    text-align: center;
    width: 100%;
  }

  .SearchForm__content {
    padding: 16px;
  }

  .SearchForm__checkbox {
    font-size: 0.8rem;
  }

  .SearchForm__selectbox {
    text-align: center;
  }

  .SearchForm__submit {
    padding-top: 10px;
    text-align: center;
  }

  .Searchform__submitbutton {
    background-color: #5B8CFF;
    border-radius: 14px;
    color: #fff;
    padding: 8px;
  }

}

@media (max-width: 768px) {
  .SearchForm {

    .SearchForm__content {
      border-bottom: 1px solid #e6e5e5;
      padding: 15px;
    }
  }
}