@charset "UTF-8";

.Sidebar {
  border: 1px solid #eaeaea;
  border-radius: 15px;;
  display: inline;
  height: 72%;
  margin-top: 5px;
  padding: 15px;

  .Sidebar__dispswitch {
    display: none;
  }

  input#label1 {
    display: none;
  }

}

@media (max-width: 600px){
  .Sidebar {
    align-items: center;
    border: none;
    display: grid;
    height: auto;
    justify-content: center;
    margin-top: 0;
    width: 100%;

    label.Sidebar__dispswitch {
      border-radius: 17px;
      border: 1px solid #eaeaea;
      display: block;
      font-size: 0.8rem;
      margin: 0 auto;
      padding: 10px;
      text-align: center;
    }

    input:checked ~ label.Sidebar__dispswitch {
      border-radius: 17px;
      border: 1px solid #eaeaea;
      padding: 10px;
      text-align: center;
    }

    label.Sidebar__dispswitch:before {
      content: '検索条件を設定する';
    }

    input:checked ~ label.Sidebar__dispswitch:before {
      content: '検索条件を閉じる';
    }

    .Sidebar__content {
      display: none;
    }

    input:checked ~ .Sidebar__content {
      border: 1px solid #eaeaea;
      border-radius: 15px;;
      display: inline;
      margin-top: 10px;
      padding: 15px;
    }
  
  }
}