@charset "UTF-8";

.Sidebar {
  background-color: #fff;
  border-radius: 5px;
  display: inline;
  height: 72%;
  margin: 15px;
  padding: 15px;
  width: 270px;

  .Sidebar__dispswitch {
    display: none;
  }

  input#label1 {
    display: none;
  }

}

@media (max-width: 768px){
  .Sidebar {
    align-items: center;
    background-color: #e9f3ff;
    border: none;
    display: grid;
    height: auto;
    justify-content: center;
    margin: 0;
    width: 100%;

    label.Sidebar__dispswitch,
    label.Sidebar__dispswitch--standard {
      background-color: #fff;
      border-radius: 17px;
      display: block;
      font-size: 0.8rem;
      margin: 0 auto;
      padding: 15px;
      text-align: center;
    }

    input:checked ~ label.Sidebar__dispswitch,
    label.Sidebar__dispswitch--standard {
      border-radius: 17px;
      padding: 15px;
      text-align: center;
    }

    label.Sidebar__dispswitch:before {
      content: '検索条件を設定する';
    }

    input:checked ~ label.Sidebar__dispswitch:before {
      content: '検索条件を閉じる';
    }

    label.Sidebar__dispswitch--standard:before {
      content: '開く';
    }

    input:checked ~ label.Sidebar__dispswitch--standard:before {
      content: '閉じる';
    }

    .Sidebar__content {
      display: none;
    }

    input:checked ~ .Sidebar__content {
      background-color: #fff;
      border-radius: 5px;
      display: inline;
      margin-top: 10px;
      padding: 15px;
    }
  
  }
}