@charset "UTF-8";

.TopLayout {
  display: grid;
  grid-template-rows: 65px 35px 25px 1000px 50px;
  grid-template-columns: 250px 1fr;

  .TopLayout__header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .TopLayout__globalnavi {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .TopLayout__sidebar {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .TopLayout__article {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

}