<%= link_to '新規作成', new_provider_path %>
<div>
  <% @providers.each do |provider| %>
    <p>ID：<%= provider.id %></p>
    <p>プロバイダー：<%= link_to provider.name, edit_provider_path(provider) %></p>
    <p><%= link_to '削除', provider_path(provider), method: :delete, data: { confirm: '関連プランも削除されます。本当に削除しますか？' } %></p>
  <% end %>
</div>